Source: smacq
Section: db
Priority: optional
Maintainer: Mike Fisk <mfisk@lanl.gov>
Build-Depends: zlib1g-dev, libglib2.0-dev, libpcap-dev
Standards-Version: 3.1.1

Package: smacq
Architecture: any
Depends: zlib1g, libglib2.0, libpcap0
Suggests: libgda
Description: Relational query engine for streams of data
 The System for Modular Analysis and Continuous Queries (SMACQ) is a
 modular platform for analyzing and querying large datasets, including
 streaming network data, using features from databases, UNIX pipelines,
 and modular intrusion detection systems. 
